.date-input {
  background-image: url("./Background-A.JPG");
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;
  padding-left: 30px;
  width: 100vw;
  /* Flex Settings */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

p {
  margin: 5px 0;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  background-color: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  /* Flex Settings */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.date-input select,
.date-input button {
  margin: 5px 0;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  background-color: none;
  box-shadow: none;
  margin: 5px auto;
  /* Flex Settings */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

button {
  background-color: gray;
  border: none;
  cursor: pointer;
}
